#------------------------------------------------------------
# Linux
#------------------------------------------------------------
*~

#------------------------------------------------------------
# framework
#------------------------------------------------------------
var/cache/*
var/go-email/*
var/log/*
var/session/*
app/config/config.php
home/media/*

