#------------------------------------------------------------
# Linux
#------------------------------------------------------------
*~

#------------------------------------------------------------
# framework
#------------------------------------------------------------
var/cache/*
var/go-email/*
var/go-email-done/*
var/log/*
var/session/*
app/config/*.php
home/media/*

